.breadcrums-container {
  margin: $spacer * 2 0 $spacer * 6;
  display: flex;
  align-items: flex-start;
  margin-left: $con-big-side;

  @include mq-down("sns") {
    margin-left: $con-mid-side;
  }

  @include mq-down("lg") {
    margin-left: $spacer * 4;
  }

  @include mq-down("mobile") {
    margin: $spacer * 3 0 $spacer * 6;
    margin-left: $spacer * 2;
  }

  @include mq-down("sm") {
    margin: $spacer* 2 0 $spacer * 4;
    margin-left: $spacer;
  }

  .page-name {
    font-family: font("madawaska");
    font-size: 2rem;

    @include mq-down("mobile") {
      font-size: 1.8rem;
    }
  }

  .border {
    width: 2rem;
    height: 0.1rem;
    background: $black;
    margin: 1.8rem $spacer * 2;

    @include mq-down("mobile") {
      margin: 1.3rem $spacer * 2;
    }
  }

  .page-exp {
    font-family: font("midashi");
    font-size: 1.4rem;
    margin: 0.7rem 0;

    @include mq-down("mobile") {
      font-size: 1.2rem;
    }

    @include mq-down("mobile") {
      margin: 0.1rem 0;
    }
  }
}
