.btn {
  border: 2px solid $black;
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover,
  &.animated {
    .border-wrapper {
      animation: button-border-in 0.6s cubic-bezier(0.56, 0.02, 0.5, 0.99) forwards;

      .border {
        .arrow-edge {
          height: 1.6rem;
          width: 1.6rem;
        }
      }
    }
  }

  .border-wrapper {
    width: 3rem;
    height: 2px;
    position: absolute;
    left: -1.5rem;
    top: calc(50% - 1px);
    animation: button-border-out 0.6s cubic-bezier(0.56, 0.02, 0.5, 0.99) forwards;

    .border {
      background: $red;
      width: 100%;
      height: 100%;
      position: relative;

      .arrow-edge {
        position: absolute;
        top: 0.5px;
        right: -0.2rem;
        transform: translateY(-50%);
        transition: all 0.3s ease-out;
        height: 0;
        width: 0;
      }
    }
  }

  .text {
    font-family: font("midashi");
    font-size: 1.4rem;
    padding: $spacer * 2 $spacer * 3 $spacer * 2 $spacer * 4;
    margin: 0;
  }
}

@keyframes button-border-in {
  0% {
    width: 3rem;
    left: -1.5rem;
  }

  50% {
    width: calc(100% + 3rem);
    left: -1.5rem;
  }

  100% {
    width: 3rem;
    left: calc(100% - 1.5rem);
  }
}

@keyframes button-border-out {
  0% {
    width: 3rem;
    left: calc(100% - 1.5rem);
  }

  50% {
    width: calc(100% + 3rem);
    left: -1.5rem;
  }

  100% {
    width: 3rem;
    left: -1.5rem;
  }
}
