.card-container {
  width: 52rem;
  height: 52rem;
  position: relative;
  margin-right: $spacer * 4;

  @include mq-down("xl") {
    width: 46rem;
    height: 46rem;
  }

  @include mq-down("mobile") {
    width: 32rem;
    height: 32rem;
  }

  @include mq-down("sm") {
    width: 28rem;
    height: 28rem;
  }

  .card-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $gold;
  }

  .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border: 1px solid black;
    padding: $spacer *3 $spacer *2;

    @include mq-down("mobile") {
      padding: $spacer *2 $spacer *1.5;
    }

    .thumb {
      width: 100%;
      height: 60%;

      @include mq-down("mobile") {
        height: 70%;
      }

      img {
        object-fit: cover;
        height: 100%;
      }
    }

    .title {
      font-size: 2.4rem;
      font-weight: 600;
      padding: $spacer*2 0 $spacer;

      @include mq-down("xl") {
        font-size: 2.1rem;
      }

      @include mq-down("mobile") {
        font-size: 1.8rem;
      }

      @include mq-down("sm") {
        font-size: 1.6rem;
      }
    }

    .lead {
      @include mq-down("xl") {
        font-size: 1.2rem;
      }

      @include mq-down("mobile") {
        display: none;
      }
    }
  }
}
