.nav-primary {
  #menu-item-48 {
    padding-left: 0;

    @include mq-down("lg") {
      padding: $spacer $spacer * 2;
    }
  }

  .nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.4rem;

    @include mq-down("lg") {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    .menu-item {
      list-style-type: none;
      padding: $spacer $spacer*2;

      &.current_page_item,
      &:hover {
        .hover-el {
          opacity: 1;
          transition: opacity ease-out 0.3s;
        }

        .hover-el-anim-circle {
          animation: nav-hover 0.9s ease-in-out forwards;
        }

        .hover-el-anim-square {
          width: 100%;
          transition: width ease-in-out 0.6s;
          transition-delay: 0.3s;
        }
      }

      @include mq-down("lg") {
        opacity: 0;
        transform: translate3d(40px, 0, 0);
        transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);

        &.active {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }

    .nav-contents-wrapper {
      display: block;
      position: relative;

      .nav-contents {
        .nav-title {
          margin: 0;
          font-family: ("midashi");
          font-size: 1.4rem;
          font-weight: 600;
        }
      }

      .hover-el,
      .hover-el-anim-circle {
        z-index: z("below");
        position: absolute;
        top: -0.8rem;
        left: -2rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: $gold;
        opacity: 0;
      }

      .hover-el {
        transition: none;
      }

      .hover-el-anim-square {
        z-index: z("below");
        position: absolute;
        top: -0.8rem;
        left: 0;
        width: 0;
        height: 4rem;
        background: $gold;
        transition: none;
      }
    }
  }
}

.hamburger {
  position: relative;
  width: 100%;
  height: 100%;

  span {
    display: block;
    position: absolute;
    left: 6px;
    width: 30px;
    border-bottom: solid 3px $black;
    -webkit-transition: 0.35s ease-in-out;

    /* 変化の速度を指定 */
    -moz-transition: 0.35s ease-in-out;

    /* 変化の速度を指定 */
    transition: 0.35s ease-in-out;

    &:nth-child(1) {
      top: 9px;
    }

    &:nth-child(2) {
      top: 18px;
    }

    &:nth-child(3) {
      top: 27px;
    }
  }

  &.is-active {
    span:nth-child(1) {
      top: 18px;
      left: 6px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    span:nth-child(2),
    span:nth-child(3) {
      top: 18px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

@keyframes nav-hover {
  0% {
    left: -2rem;
    opacity: 0;
  }

  33% {
    left: -2rem;
    opacity: 1;
  }

  100% {
    opacity: 1;
    left: calc(100% - 2rem);
  }
}
