.page-section-header {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: $spacer * 4;

  @include mq-down("mobile") {
    padding-bottom: $spacer * 2;
  }

  &.horizontal {
    padding-bottom: $spacer * 8;

    @include mq-down("lg") {
      padding-bottom: $spacer * 12;
    }

    @include mq-down("mobile") {
      padding-bottom: $spacer * 20;
    }

    @include mq-down("sm") {
      padding-bottom: $spacer * 15;
    }

    img {
      width: 35rem;
      top: 10rem;
      right: 50%;
      transform: translateX(48rem);

      @include mq-down("lg") {
        top: 13rem;
        transform: none;
        right: 3rem;
      }

      @include mq-down("mobile") {
        top: 18rem;
        right: 1rem;
      }

      @include mq-down("sm") {
        top: 14rem;
        width: 24rem;
      }
    }
  }

  &.vertical {
    padding-bottom: $spacer * 16;

    @include mq-down("lg") {
      padding-bottom: $spacer * 17;
    }

    @include mq-down("mobile") {
      padding-bottom: $spacer * 20;
    }

    img {
      width: 25rem;
      right: 50%;
      transform: translateX(48rem);
      top: 10rem;

      @include mq-down("lg") {
        width: 24rem;
        transform: none;
        right: 3rem;
        top: 12rem;
      }

      @include mq-down("mobile") {
        width: 21rem;
        right: 1rem;
        top: 16rem;
      }

      @include mq-down("sm") {
        width: 18rem;
        top: 14rem;
        right: 30%;
        transform: translateX(50%);
      }
    }
  }

  &.contact {
    padding-bottom: $spacer * 8;

    @include mq-down("lg") {
      padding-bottom: $spacer * 12;
    }

    @include mq-down("mobile") {
      padding-bottom: $spacer * 20;
    }

    @include mq-down("sm") {
      padding-bottom: $spacer * 15;
    }

    img {
      top: 7rem;
      width: 29rem;
      right: 50%;
      transform: translateX(48rem);

      @include mq-down("lg") {
        top: 10rem;
        transform: none;
        right: 3rem;
      }

      @include mq-down("mobile") {
        top: 14rem;
        right: 1rem;
        width: 30rem;
      }

      @include mq-down("sm") {
        top: 13rem;
        width: 24rem;
      }
    }
  }

  img {
    z-index: -100;
    position: absolute;
  }

  .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50vw - 400px);
    height: 20rem;
    z-index: z("below");

    @include bg-img("bg-gray-nyokki.svg", contain);

    background-position: right center;

    @include mq-down("xl") {
      width: 30rem;
      left: -10rem;
    }

    @include mq-down("mobile") {
      width: 18rem;
      left: -2rem;
    }

    @include mq-down("sm") {
      width: 13rem;
      left: 0;
      top: -3rem;
    }

    &::after {
      content: "";
      display: block;
      width: calc(100% - 20rem);
      height: 100%;
      background: $gray-bg;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  // .square {
  //   width: calc((100vw - 1000px) / 2);
  //   height: 100%;
  //   background: $gray-bg;

  //   @include mq-down("sns") {
  //     width: calc((100vw - 900px) / 2);
  //   }

  //   @include mq-down("lg") {
  //     width: 10rem;
  //   }

  //   @include mq-down("sm") {
  //     width: 4rem;
  //   }
  // }

  // .circle {
  //   width: 21rem;
  //   height: 21rem;
  //   background: $gray-bg;
  //   border-radius: 50%;

  //   @include mq-down("sns") {
  //     left: calc((100vw - 900px) / 2 - 10.5rem);
  //   }

  //   @include mq-down("lg") {
  //     left: calc(10rem - 10.5rem);
  //   }

  //   @include mq-down("sm") {
  //     width: 14rem;
  //     height: 14rem;
  //     left: calc(4rem - 7rem);
  //   }
  // }

  .content {
    margin-left: $con-big-side;
    padding-top: $spacer * 2;

    @include mq-down("sns") {
      margin-left: $con-mid-side;
    }

    @include mq-down("lg") {
      margin-left: $spacer * 4;
    }

    @include mq-down("mobile") {
      margin-left: $spacer * 2;
    }

    @include mq-down("sm") {
      margin-left: $spacer;
      padding-top: $spacer;
    }

    .title {
      font-family: font("midashi");
      font-size: 5rem;
      line-height: 8rem;
      letter-spacing: -0.05em;

      @include mq-down("sns") {
        font-size: 4.5rem;
      }

      @include mq-down("mobile") {
        font-size: 3.2rem;
        line-height: 7rem;
      }

      @include mq-down("sm") {
        font-size: 2.2rem;
        line-height: 6rem;
      }
    }

    .subtitle {
      font-size: 1.4rem;
      font-weight: 600;
      font-family: font("midashi");
      margin-top: $spacer * 2;
      width: 48rem;

      @include mq-down("mobile") {
        margin-top: $spacer;
        width: calc(100% - 3.2rem);
      }

      @include mq-down("sm") {
        font-size: 1.2rem;
        margin-top: 0;
        line-height: 2rem;
        width: calc(100% - 1.6rem);
      }
    }
  }
}
