.work-card {
  width: 32rem;
  height: 100%;
  margin-right: $spacer * 2;

  &:hover {
    .thumb {
      img {
        transform: scale(1.1);
      }
    }
  }

  .thumb {
    width: 100%;
    height: 18rem;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      transition: transform 1.6s ease;
      will-change: transform;
    }
  }

  .contents {
    margin-top: $spacer;

    .title {
      font-size: 1.6rem;
    }

    .outline {
      display: flex;
      margin-top: 0.2rem;

      p {
        margin: 0;
        font-size: 1.4rem;
      }

      .divider {
        width: 1px;
        height: 1.2rem;
        transform: rotate(20deg);
        background: $black;
        margin: 0.6rem $spacer;
      }

      .place-container {
        display: flex;

        .in {
          font-family: font("midashi");
          margin: 0 $spacer;
        }
      }
    }
  }
}
