.front-works {
  margin-top: $spacer * 10;
  margin-left: $con-big-side;

  @include mq-down("sns") {
    margin-left: $con-mid-side;
  }

  @include mq-down("lg") {
    margin-top: $spacer * 15;
    margin-left: 0;
    margin-bottom: $spacer * 15;
  }

  .picks {
    @include mq-down("lg") {
      padding-left: $spacer * 4;
    }

    @include mq-down("md") {
      padding-left: 0;
    }

    @include mq-down("mobile") {
      margin-top: $spacer * 2;
    }

    .pick-container {
      width: $con-big;
      height: 30rem;
      position: relative;
      display: flex;

      @include mq-down("sns") {
        width: $con-mid;
      }

      @include mq-down("lg") {
        width: 100%;
        padding-right: $spacer * 4;
      }

      @include mq-down("md") {
        flex-direction: column;
        height: auto;
        padding-right: 0;
      }

      &:hover {
        .thumb {
          .thumb-img {
            top: -5%;
            left: -5%;
            width: 110%;
            height: 110%;
          }
        }
      }

      .circle {
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        background: $gray-bg;
        z-index: z("below");

        @include mq-down("md") {
          display: none;
        }
      }

      .thumb {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: relative;

        @include mq-down("md") {
          width: 100%;
          height: 30rem;
        }

        @include mq-down("sm") {
          height: 20rem;
        }

        .thumb-img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          transition: all 1.6s ease;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          // transform: translate3d(-50%, -50%, 0);
        }
      }

      .contents {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mq-down("md") {
          width: 100%;
          height: auto;
          display: block;
          padding: 0 $spacer * 2;
        }

        @include mq-down("sm") {
          padding: 0 $spacer * 2;
        }

        .title {
          font-size: 2.4rem;
          width: 95%;

          @include mq-down("md") {
            width: 100%;
          }

          @include mq-down("sm") {
            font-size: 1.6rem;
          }
        }

        .outline {
          display: flex;
          align-items: center;
          margin-top: $spacer;

          p {
            margin: 0;
            font-size: 1.2rem;
          }

          .divider {
            width: 1px;
            height: 60%;
            transform: rotate(20deg);
            background: $black;
            margin: 0 $spacer;

            @include mq-down("md") {
              height: 1.4rem;
            }
          }

          .in {
            font-family: font("midashi");
            margin: 0 $spacer;
          }
        }
      }

      &.first {
        @include mq-down("md") {
          margin-bottom: $spacer *4;
        }

        .thumb {
          order: 1;
        }

        .contents {
          order: 2;
          align-items: flex-start;
          padding-left: $spacer * 4;

          @include mq-down("md") {
            padding-top: $spacer;
            padding-left: $spacer * 2;
          }
        }
      }

      &.second {
        .thumb {
          order: 2;

          @include mq-down("md") {
            order: 1;
          }
        }

        .contents {
          order: 1;
          align-items: flex-end;
          padding-right: $spacer * 4;

          @include mq-down("md") {
            padding-top: $spacer;
            order: 2;
            padding-right: 0;
          }

          .title {
            text-align: right;

            @include mq-down("md") {
              text-align: left;
            }
          }
        }
      }
    }
  }

  .slider {
    width: 100%;
    margin-top: $spacer * 6;
    overflow-x: scroll;

    @include mq-down("mobile") {
      padding-left: $spacer * 2;
    }

    .slider-wrapper {
      width: 213rem;
      height: 100%;
      display: flex;

      @include mq-down("lg") {
        width: 203rem;
      }

      @include mq-down("mobile") {
        width: 200rem;
      }
    }
  }

  .action-container {
    margin-right: $con-big-side;
    margin-top: $spacer * 4;
    text-align: right;

    @include mq-down("sns") {
      margin-right: $con-mid-side;
    }

    @include mq-down("lg") {
      margin-right: $spacer * 4;
    }

    @include mq-down("md") {
      margin-right: 0;

      @include flex-center;
    }
  }
}
