.front-about {
  .section-title-wrapper {
    margin-left: $con-big-side;

    @include mq-down("sns") {
      margin-left: $con-mid-side;
    }
  }

  .contents {
    .vision {
      margin-bottom: $spacer * 4;
      display: flex;
      align-items: center;

      .illust {
        width: 40%;
        margin: 0 5%;
      }

      .text-container {
        width: 50rem;
      }
    }

    .pic {
      width: 100%;
    }
  }

  .action-container {
    margin-top: $spacer * 4;
    text-align: right;
  }
}
