.front-about {
  margin-bottom: $spacer * 10;

  .section-title-wrapper {
    margin-left: $con-big-side;

    @include mq-down("sns") {
      margin-left: $con-mid-side;
    }

    @include mq-down("lg") {
      margin-left: 0;
    }
  }

  .contents {
    .vision {
      margin-bottom: $spacer * 4;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mq-down("lg") {
        padding: 0 $spacer * 4;
      }

      @include mq-down("md") {
        flex-direction: column;
      }

      @include mq-down("mobile") {
        padding: 0 $spacer * 2;
      }

      .illust {
        width: 30rem;
        margin: 0 5%;
        padding-right: $spacer * 4;

        @include mq-down("lg") {
          padding-right: 0;
        }

        @include mq-down("md") {
          width: 50%;
          margin-bottom: $spacer * 4;
        }

        @include mq-down("mobile") {
          width: 60%;
        }
      }

      .text-container {
        width: 50rem;

        @include mq-down("md") {
          width: 80%;
        }

        @include mq-down("mobile") {
          width: 100%;
        }
      }
    }

    .pic {
      width: 100rem;
      height: 580px;
      margin: auto;

      @include bg-img("all_members.jpg", cover);

      @include mq-down("lg") {
        width: 100%;
        height: 58vw;
      }

      @include mq-down("mobile") {
        @include bg-img("all_members_mobile.jpg", cover);
      }
    }
  }

  .action-container {
    margin-top: $spacer * 4;
    text-align: right;

    @include mq-down("lg") {
      margin-right: $spacer * 4;
    }

    @include mq-down("md") {
      padding-right: 0;

      @include flex-center;
    }
  }
}
