.front-interviews {
  margin-left: $con-big-side;
  position: relative;

  @include mq-down("sns") {
    margin-left: $con-mid-side;
  }

  @include mq-down("lg") {
    margin-left: 0;
  }

  .front-section-title {
    @include mq-down("md") {
      margin-bottom: 0;
    }
  }

  .bg-gray {
    width: calc(50vw + 548px);
    // ( 100vw - 1000px ) / 2 + 1000 / 2 + 1000 / 2 + 48
    // = 50 vw + 500 + 48 = 50vw + 548px
    height: 48rem;
    background: $gray-bg;
    position: absolute;
    top: -$spacer * 5;
    left: -$spacer * 6;
    z-index: z("below");

    @include mq-down("xl") {
      width: calc(50vw + 524px);
      height: 44rem;
      top: -$spacer * 2;
      left: -$spacer * 3;
    }

    @include mq-down("sns") {
      width: calc(50vw + 474px);
      height: 42rem;
    }

    @include mq-down("lg") {
      width: 90vw;
      height: 86rem;
      top: -$spacer * 4;
      left: -$spacer * 2;
    }

    @include mq-down("md") {
      height: 106rem;
    }

    @include mq-down("mobile") {
      height: 78rem;
    }

    @include mq-down("sm") {
      width: 95vw;
      height: 72rem;
    }
  }

  .interviews-wrapper {
    @include mq-down("md") {
      margin-left: $spacer * 4;
    }

    @include mq-down("mobile") {
      margin-left: $spacer * 2;
    }

    .action-container {
      text-align: right;
      margin-right: $con-big-side;

      @include mq-down("sns") {
        margin-right: $con-mid-side;
      }

      @include mq-down("lg") {
        margin-right: $spacer * 4;
      }

      @include mq-down("md") {
        margin-right: 0;
        display: flex;
        justify-content: center;
      }

      @include mq-down("mobile") {
        margin-top: $spacer * 4;
      }
    }

    .slider-container {
      width: 100%;
      height: 58rem;
      display: flex;

      @include mq-down("xl") {
        height: 52rem;
      }

      @include mq-down("md") {
        flex-direction: column;
        height: 74rem;
      }

      @include mq-down("mobile") {
        height: auto;
      }

      .controller {
        width: 34rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: $spacer * 4;

        @media screen and (max-width: 870px) {
          width: 30rem;
        }

        @media screen and (max-width: 800px) {
          width: 26rem;
        }

        @include mq-down("md") {
          height: 20rem;
          width: 100%;
          margin-right: 0;
          flex-direction: row;
          align-items: center;
        }

        @include mq-down("mobile") {
          height: auto;
          margin-bottom: $spacer * 2;
        }

        @include mq-down("sm") {
          margin-bottom: $spacer;
        }

        .exp {
          width: 100%;
          height: 16rem;
          position: relative;

          @include mq-down("lg") {
            margin-left: $spacer * 4;
          }

          @include mq-down("md") {
            width: 70%;
            padding: $spacer * 2 0 0 0;
            height: 12rem;
          }

          @include mq-down("mobile") {
            padding: 0 $spacer * 2 0 0;
            margin-left: $spacer * 2;
          }

          @include mq-down("sm") {
            margin-left: $spacer;
          }

          .number {
            font-family: font('madawaska');
            font-size: 2.2rem;
            font-style: italic;
            position: absolute;
            top: 2rem;
            left: 0;

            @include mq-down("sm") {
              font-size: 2rem;
            }
          }

          .border {
            height: 120%;
            transform: rotate(45deg);
            position: absolute;
            top: 0;
            left: 5rem;

            @include dotted-border;
          }

          .subtitle {
            margin: 0;
            height: 5rem;
            position: absolute;
            top: 8rem;
            left: 7rem;

            @include mq-down("sm") {
              font-size: 1.2rem;
              line-height: 2rem;
              margin-left: $spacer;
            }
          }
        }

        .paging {
          width: 12rem;
          height: 12rem;
          border-radius: 50%;
          border: 1px solid $black;
          align-self: flex-end;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          background: white;
          margin-top: 5rem;

          @include mq-down("sns") {
            margin-top: 4rem;
            align-items: center;
          }

          @include mq-down("md") {
            align-self: center;
            margin-right: $spacer * 4;
          }

          @include mq-down("mobile") {
            margin-top: 0;
            margin-right: $spacer * 2;
            width: 10rem;
            height: 10rem;
          }

          @include mq-down("sm") {
            margin-right: $spacer;
            width: 9rem;
            height: 9rem;
          }

          .arrows {
            width: 100%;
            height: 50%;
            cursor: pointer;

            @include flex-center;

            &.right {
              &:hover {
                img {
                  animation: slider-arrow-to-right 0.6s ease-in-out;
                }
              }
            }

            &.left {
              &:hover {
                img {
                  animation: slider-arrow-to-left 0.6s ease-in-out;
                }
              }
            }

            .arrows-inner {
              width: 4rem;
              overflow: hidden;

              @include flex-center;

              img {
                width: 3rem;
              }
            }
          }

          .border {
            width: 70%;
            height: 1px;
            background: $black;
          }
        }

        .mic-wrapper {
          width: 12rem;
          align-self: flex-start;

          @include mq-down("lg") {
            margin-left: $spacer * 4;
            width: 12rem;
          }

          @include mq-down("md") {
            display: none;
          }
        }
      }
    }

    .slider {
      flex: 1;
      height: 55rem;
      overflow-x: hidden;

      @include mq-down("md") {
        height: 30rem;
      }

      .slider-warpper {
        width: 325rem;
        padding-top: $spacer;
        padding-left: $spacer;
        display: flex;

        @include mq-down("xl") {
          width: 270rem;
        }

        @include mq-down("lg") {
          width: 248rem;
        }

        @include mq-down("md") {
          padding-left: 0;
          width: 270rem;
        }

        @include mq-down("mobile") {
          width: 191rem;
          padding-top: $spacer * 2;
        }

        @include mq-down("sm") {
          width: 160rem;
        }
      }
    }
  }
}

.slider-contents-animation {
  animation: slider-contents 0.6s linear;
}

@keyframes slider-contents {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  20% {
    opacity: 0;
    transform: translate(-30px, 0);
  }

  80% {
    opacity: 0;
    transform: translate(30px, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slider-arrows-animation-to-right {
  animation: slider-arrow-to-right 0.6s ease-in-out;
}

@keyframes slider-arrow-to-right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(35px);
  }

  51% {
    transform: translateX(-35px);
  }

  100% {
    transform: translateX(0);
  }
}

.slider-arrows-animation-to-left {
  animation: slider-arrow-to-left 0.6s ease-in-out;
}

@keyframes slider-arrow-to-left {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-35px);
  }

  51% {
    transform: translateX(35px);
  }

  100% {
    transform: translateX(0);
  }
}
