.global-nav {
  position: fixed;
  width: 100vw;
  z-index: z("header");
  background: white;

  .container {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include mq-down("lg") {
      height: 6rem;
      padding: 0 $spacer * 2;
    }

    @include mq-down("sm") {
      height: 5rem;
      padding: 0 $spacer;
    }

    .nav-primary {
      position: absolute;
      left: 25%;

      @media screen and (min-width: 1700px) {
        left: calc((100vw - 1000px) / 2 + 150px);
      }

      @include mq-down("lg") {
        display: none; // TODO
      }

      #menu-item-41 {
        padding-left: 0;
      }
    }

    .nav-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      margin-left: $con-big-side;
      width: 8rem;
      height: 5rem;

      @include bg-img("quma_logo.svg", "contain");

      @include mq-down("sns") {
        margin-left: $con-mid-side;
      }

      @include mq-down("lg") {
        position: absolute;
        top: 1rem;
        left: 50%;
        margin-left: 0;
        transform: translateX(-50%);
      }

      @include mq-down("sm") {
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .nav-action {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 1.2rem;
      font-family: font("midashi");
      margin-right: $spacer*2;

      .line,
      .tel,
      .mail {
        &.btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 0.2rem solid black;
          border-radius: 20rem;
          padding: $spacer $spacer * 2;

          @include mq-down("lg") {
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 50%;
            border: 0.1rem solid black;
          }

          @include mq-down("sm") {
            width: 2.8rem;
            height: 2.8rem;
            padding: 0;
          }
        }

        .ico {
          width: 2.5rem;
          height: 2rem;
          object-fit: contain;
          margin-right: $spacer / 2;
          margin-top: 0.1rem;

          @include mq-down("lg") {
            width: 1.4rem;
            height: auto;
            margin-right: 0;
          }
        }

        p {
          margin: 0;

          @include mq-down("lg") {
            display: none;
          }
        }
      }

      .mail {
        &.btn {
          display: none;

          @include mq-down("lg") {
            display: flex;
          }
        }

        @include mq-down("lg") {
          margin-left: $spacer * 2;
        }

        @include mq-down("sm") {
          margin-left: $spacer;
        }
      }
    }

    .hamburger {
      display: none;

      @include mq-down("lg") {
        display: block;
        background: pink;
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
