.global-nav {
  position: fixed;
  width: 100vw;
  z-index: z("header");
  background: white;

  .container {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .nav-primary {
      position: absolute;
      left: 25%;

      #menu-item-41 {
        padding-left: 0;
      }
    }

    .nav-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      margin-left: $con-big-side;
      width: 8rem;
      height: 5rem;

      @include bg-img("quma_logo.svg", "contain");
    }

    .nav-action {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 1.2rem;
      font-family: font("midashi");
      margin-right: $spacer*2;

      .line,
      .tel {
        &.btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 0.2rem solid black;
          border-radius: 20rem;
          padding: $spacer $spacer * 2;
        }

        .ico {
          width: 2.5rem;
          height: 2rem;
          object-fit: contain;
          margin-right: $spacer / 2;
          margin-top: 0.1rem;
        }

        p {
          margin: 0;
        }
      }

      .line {
        margin-right: $spacer * 3;
      }
    }
  }
}
