.contact-container-page {
  margin-bottom: $spacer * 8;

  .contents {
    margin-top: $spacer * 6;
    display: flex;

    @include mq-down("lg") {
      margin-top: $spacer * 5;
      flex-direction: column;
    }

    @include mq-down("mobile") {
      margin-top: 0;
    }

    @include mq-down("sm") {
      margin-top: $spacer * 4;
    }

    .contact-container {
      width: 65%;
      margin-right: $spacer * 4;

      @include mq-down("lg") {
        width: auto;
        margin: 0 $spacer * 4;
      }

      @include mq-down("mobile") {
        margin: 0 $spacer * 2;
      }

      .contact-section {
        padding-bottom: $spacer * 4;
        margin-bottom: $spacer * 6;
        border-bottom: dotted 1px $gray;

        .sub-title {
          font-family: font("midashi");
          margin-bottom: $spacer;
        }

        .deco {
          display: flex;
          margin-bottom: $spacer * 3;

          .sm-crcle {
            height: 1rem;
            width: 1rem;
            border-radius: 50%;

            &.pink {
              background: $pink;
            }

            &.green {
              background: $green;
            }

            &.yellow {
              background: $yellow;
            }

            &.blue {
              background: $blue;
            }
          }
        }

        .title {
          font-size: 2.4rem;
          display: inline;
          font-weight: 600;
          line-height: 1.4em;
          margin-bottom: $spacer * 2;

          @include mq-down("mobile") {
            font-size: 2rem;
          }

          &.pink {
            background: linear-gradient(transparent 60%, $pink 60%);
          }

          &.green {
            background: linear-gradient(transparent 60%, $green 60%);
          }

          &.yellow {
            background: linear-gradient(transparent 60%, $yellow 60%);
          }

          &.blue {
            background: linear-gradient(transparent 60%, $blue 60%);
          }
        }

        .text {
          margin-bottom: $spacer * 2;
        }

        .contact-button {
          width: 30rem;
          height: 5rem;
          transition: background-color 0.3s ease-out;

          @include flex-center;

          @include mq-down("lg") {
            height: 7rem;
          }

          @include mq-down("mobile") {
            width: 100%;
          }

          &.pink {
            border: solid 3px $pink;

            &:hover {
              background-color: $pink;
            }
          }

          &.green {
            border: solid 3px $green;

            &:hover {
              background-color: $green;
            }
          }

          &.yellow {
            border: solid 3px $yellow;

            &:hover {
              background-color: $yellow;
            }
          }

          &.blue {
            border: solid 3px $blue;

            &:hover {
              background-color: $blue;
            }
          }

          &:hover {
            .button-text {
              color: white;
            }
          }

          .button-text {
            margin-bottom: 0;
            font-family: font("midashi");
            transition: color 0.3s ease-out;

            @include mq-down("lg") {
              font-size: 1.6rem;
            }
          }
        }
      }
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;

      @include mq-down("lg") {
        margin-top: $spacer * 4;
        flex-direction: row;
        justify-content: center;
      }

      @include mq-down("mobile") {
        flex-direction: column;
      }

      .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $spacer * 4;

        @include mq-down("lg") {
          margin: 0 $spacer * 4;
        }

        @include mq-down("mobile") {
          margin-bottom: $spacer * 4;
        }

        .deco {
          width: 10rem;
          height: 10rem;
          background: $gray-bg;
          border-radius: 50%;
          margin-bottom: $spacer;

          @include flex-center;

          img {
            width: 3rem;
          }
        }

        .text-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;

          p {
            font-weight: 600;
            font-size: 1.2rem;
            margin: 0;
          }

          .text {
            margin-bottom: $spacer;
            font-size: 2rem;
          }
        }
      }
    }
  }
}

.document-banner-container {
  width: 100%;
  padding: $spacer * 4;

  @include mq-down("mobile") {
    padding: $spacer * 2;
  }

  .desktop {
    width: 100%;

    @include mq-down("mobile") {
      display: none;
    }
  }

  .mobile {
    width: 100%;
    display: none;

    @include mq-down("mobile") {
      display: block;
    }
  }
}
