.interviews-page {
  .interviews-container {
    margin-bottom: $spacer * 10;

    .interviews-list {
      padding-top: $spacer * 8;

      @include mq-down("lg") {
        padding-top: $spacer * 4;
      }

      @include mq-down("mobile") {
        padding-top: $spacer * 2;
      }
    }
  }
}
