* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family:
    dnp-shuei-gothic-kin-std,
    -apple-system,
    linkMacSystemFont,
    /* Macの欧文はSan Francisco (OS X 10.11以降) */
    "Helvetica Neue",
    /* Macの欧文 (OS X 10.10以前) */
    "Segoe UI",
    /* Windowsの欧文 */
    YuGothicM,
    /* Windows8.1以上は游ゴシック */
    YuGothic,
    /* Macの游ゴシック */
    Meiryo,
    /* 游ゴシックが入っていないWindows */
    sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // font-size: 1.4rem;
  color: $text;
  line-height: 1.6;
}

a {
  color: $text;
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: contain;
}

p {
  font-family: font("text");
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-bottom: $spacer * 2;

  @include mq-down("mobile") {
    font-size: 1.6rem;
    line-height: 3rem;
  }

  @media screen and (max-width: 350px) {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }

  @include mq-down("sm") {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }
}

.regular-container {
  width: $con-big;
  margin: 0 auto;

  @include mq-down("sns") {
    width: $con-mid;
  }

  @include mq-down("lg") {
    width: auto;
  }
}

.pages-container {
  padding-top: 8rem;

  @include mq-down("lg") {
    padding-top: 6rem;
  }

  @include mq-down("sm") {
    padding-top: 5rem;
  }
}

.transition-overlay {
  position: fixed;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
}

.comment {
  font-size: 1.2rem;
}
